template(name="ooColorPicker")
  .oo-picker-wrapper
    .header-section
      h4 {{hue}}, {{saturation}}%, {{lightness}}%
    .header-section
      h4 {{rgbString}} {{hslString}} {{hexString}}
    .header-section
      input.js-colorInput(value="")
    .swatches
      button(i-Color-swatch="push" style="background-color: hsl({{hue}}, {{saturation}}%, {{lightness}}%)")
      button.js-setPreviuosColor(i-Color-swatch="push" class="js-showColorPicker" style="background-color: {{prevColor}}" data-color="{{prevColor}}")
    .hsl-controls
      input.js-updateHue.js-enableDrag.ooSlide.hueSlide(type="range" min="0" max="360" value="{{hue}}" step="1" $dyn = hueGradient )
      input.js-updateSaturation.js-enableDrag.ooSlide.saturationSlide(type="range" min="0" max="100" value="{{saturation}}" step="1" $dyn = saturationGradient)
      input.js-updateLightness.js-enableDrag.ooSlide.lightnessSlide(type="range" min="0" max="100" value="{{lightness}}" step="1" $dyn = lightnessGradient)
    .header-section
      h4 Color Scheme
        each colorSchemeButtons
          button.js-setColorSchemeType(btn="neutral-dim push-all capitalize" data-scheme="{{this}}") {{this}}
    each colorScheme
      button.animation-fadeIn.transition-back.js-setRandomColor(i-Color-swatch="push {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    .header-section()
      h4 History
    each historyColours
      button.animation-fadeIn.js-setHistoryColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    .header-section
      h4 Random
        each randomHueButtons
          button.js-setRandomColorType(btn="neutral-dim push-all capitalize" data-color="{{this}}") {{this}}
    each randomColors
      button.animation-fadeIn.transition-back.js-setRandomColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
