template(name="ooColorPicker")
  .oo-picker-wrapper
    .header-section
      h4 {{hue}}, {{saturation}}%, {{lightness}}%
    .header-section
      h4 {{rgbString}} {{hslString}} {{hexString}}
    .header-section
      input.js-colorInput(value="")
    .swatches
      button(i-Color-swatch="push" style="background-color: hsl({{hue}}, {{saturation}}%, {{lightness}}%)")
      button.js-setPreviuosColor(i-Color-swatch="push" class="js-showColorPicker" style="background-color: {{prevColor}}" data-color="{{prevColor}}")
      button.js-lightenColor(btn="neutral-dim") +
      button.js-darkenColor(btn="neutral-dim") -
      button.js-saturateColor(btn="neutral-dim") +
      button.js-desaturateColor(btn="neutral-dim") -
    .hsl-controls
      input.js-updateHue.js-enableDrag.ooSlide.hueSlide(type="range" min="0" max="360" value="{{hue}}" step="1" $dyn = hueGradient )
      input.js-updateSaturation.js-enableDrag.ooSlide.saturationSlide(type="range" min="0" max="100" value="{{saturation}}" step="1" $dyn = saturationGradient)
      input.js-updateLightness.js-enableDrag.ooSlide.lightnessSlide(type="range" min="0" max="100" value="{{lightness}}" step="1" $dyn = lightnessGradient)
    .header-section()
      h4 History
      button.js-setHistoryAction(btn="tiny neutral-dim" data-action="addToFavorites") Add To Favorites
      button.js-setHistoryAction(btn="tiny neutral-dim" data-action="select") Select
    each historyColors
      button.animation-fadeIn.js-setHistoryColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    .header-section()
      h4 Favorites
    each favoriteColors
      button.animation-fadeIn.js-setFavoriteColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    .header-section
      h4 Schemes
      button.js-setSchemeAction(btn="tiny neutral-dim" data-action="addToFavorites") Add To Favorites
      button.js-setSchemeAction(btn="tiny neutral-dim" data-action="select") Select
    h5.scheme-title Analagous
    each schemeAnalagous
      button.animation-fadeIn.transition-back.js-setSchemeColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    h5.scheme-title Complements
    each schemeComplements
      button.animation-fadeIn.transition-back.js-setSchemeColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    h5.scheme-title Split Complements
    each schemeSplitComplements
      button.animation-fadeIn.transition-back.js-setSchemeColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    h5.scheme-title Triadic
    each schemeTriadic
      button.animation-fadeIn.transition-back.js-setSchemeColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    h5.scheme-title Tetradic
    each schemeTetradic
      button.animation-fadeIn.transition-back.js-setSchemeColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    h5.scheme-title Monochromatic
    each schemeMonochromatic
      button.animation-fadeIn.transition-back.js-setSchemeColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
    .header-section
      h4 Random
        each randomHueButtons
          button.js-setRandomColorType(btn="neutral-dim push-all capitalize" data-color="{{this}}") {{this}}
      button.js-setRandomAction(btn="tiny neutral-dim" data-action="addToFavorites") Add To Favorites
      button.js-setRandomAction(btn="tiny neutral-dim" data-action="select") Select
    each randomColors
      button.animation-fadeIn.transition-back.js-setRandomColor(i-Color-swatch="push small {{#if isSelectedColor}} is-active {{/if}}" style="background-color: {{color}}")
